header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 10px solid #eb302d;
}

li{
    display: inline-block;
    margin: 15px;
    cursor: pointer;
}